<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    计算从 1 到给定<code>N</code> （包括）的整数之和。 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sum-upto-n.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>如何使用：</strong>
    <i>此函数可用于多种数学和算法环境，如计算第 n 个三角形数、确定算法中某些操作的代价等。</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件</strong>
    <ul>
    <li><i>1 ≤ N ≤ 900.</i></li>
    </ul>
</p>
