<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Обчислити суму цілих чисел від 1 до заданого <code>N</code> (включно). 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sum-upto-n.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Як використовується:</strong>
    <i>ця функція може бути використана у різноманітних математичних та алгоритмічних контекстах, наприклад, при обчисленні n-го трикутного числа, визначенні вартості певних операцій в алгоритмах тощо.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Вхідні дані:</strong>
    <ul>
    <li><i>1 ≤ N ≤ 900.</i></li>
    </ul>
</p>
