<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Calculez la somme des nombres entiers de 1 à <code>N</code> (y compris). 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sum-upto-n.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Comment l'utiliser:</strong>
    <i>cette fonction peut être utilisée dans une variété de contextes mathématiques et algorithmiques, tels que le calcul du nième nombre triangulaire, la détermination du coût de certaines opérations dans les algorithmes, etc.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Condition préalable:</strong>
    <ul>
    <li><i>1 ≤ N ≤ 900.</i></li>
    </ul>
</p>
