<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Berechnen Sie die Summe der ganzen Zahlen von 1 bis zur angegebenen <code>N</code> (einschließlich). 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sum-upto-n.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Ganzzahl <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Integer <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Wie sie verwendet wird:</strong>
    <i>diese Funktion kann in einer Vielzahl von mathematischen und algorithmischen Zusammenhängen verwendet werden, z.B. zur Berechnung der n-ten Dreieckszahl, zur Bestimmung der Kosten für bestimmte Operationen in Algorithmen usw.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Vorbedingung:</strong>
    <ul>
    <li><i>1 ≤ N ≤ 900.</i></li>
    </ul>
</p>
