<!-- Describe task in general -->

<p>
    Proszę obliczyć sumę liczb całkowitych od 1 do podanej <code>N</code> (włącznie). 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sum-upto-n.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Jak to jest używane:</strong>
    <i>ta funkcja może być używana w różnych kontekstach matematycznych i algorytmicznych, takich jak obliczanie n-tej liczby trójkątnej, określanie kosztu dla niektórych operacji w algorytmach itp.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunek wstępny:</strong>
    <ul>
    <li><i>1 ≤ N ≤ 900.</i></li>
    </ul>
</p>
